<main>
  <div class="carrinho">
    <h1>Seu Carrinho</h1>

    <div *ngFor="let item of carrinho" class="item-carrinho">
      <img [src]="item.Imagem" alt="{{ item.nome }}" class="imagem-item">
      <div class="detalhes-item">
        <h2>{{ item.nome }}</h2>
        <p>R$ {{ item.preco | number:'1.2-2' }}</p>
        <div>
          <label for="quantidade">Quantidade:</label>
          <input type="number" [(ngModel)]="item.quantidade" (change)="atualizarQuantidade(item.id, item.quantidade)" min="1">
        </div>
        <button (click)="removerItem(item.id)">Remover</button>
      </div>
    </div>

    <div class="total">
      <h3>Total: R$ {{ total | number:'1.2-2' }}</h3>
      <button (click)="finalizarCompra()">Finalizar Compra</button>
      <button (click)="limparCarrinho()">Limpar Carrinho</button>
    </div>
  </div>
</main>
